@model WebAppMovie.Models.movieDetailsList

@{
    ViewBag.Title = "AddMovie2";
    Layout = "~/Views/Shared/_Ver2.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/CSS/bootstrap.min.book.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.css" />



    <style type="text/css">
        body {
            color: #999;
            background: #ffffff;
            font-family: 'Roboto', sans-serif;
        }

        .form-control {
            border-color: #eee;
            min-height: 41px;
            box-shadow: none !important;
        }

            .form-control:focus {
                border-color: #5cd3b4;
            }

        .form-control, .btn {
            border-radius: 3px;
        }

        .signup-form {
            width: 500px;
            margin: 0 auto;
            padding: 30px 0;
        }

            .signup-form h2 {
                color: #333;
                margin: 0 0 30px 0;
                display: inline-block;
                padding: 0 30px 10px 0;
                border-bottom: 3px solid #5cd3b4;
            }

            .signup-form form {
                color: #999;
                border-radius: 3px;
                margin-bottom: 15px;
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .signup-form .form-group {
                margin-bottom: 20px;
            }

            .signup-form label {
                font-weight: normal;
                font-size: 13px;
            }

            .signup-form input[type="checkbox"] {
                margin-top: 2px;
            }

            .signup-form .btn {
                font-size: 16px;
                font-weight: bold;
                background: #5cd3b4;
                border: none;
                margin-top: 20px;
                min-width: 140px;
            }

                .signup-form .btn:hover, .signup-form .btn:focus {
                    background: #41cba9;
                    outline: none !important;
                }

            .signup-form a {
                color: #5cd3b4;
                text-decoration: underline;
            }

                .signup-form a:hover {
                    text-decoration: none;
                }

            .signup-form form a {
                color: #5cd3b4;
                text-decoration: none;
            }

                .signup-form form a:hover {
                    text-decoration: underline;
                }
    </style>
    <script>
        $(document).ready(function () {
            DatePicker();

            function DatePicker() {
                var dateToday = new Date();
                var date_input = $('input[placeholder="MM/DD/YYY"]'); //our date input has the name "date"
                var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                var options = {
                    format: 'mm/dd/yyyy',
                    container: container,
                    todayHighlight: true,
                    orientation: "bottom right",
                    autoclose: true,
                    minDate: dateToday
                };
                date_input.datepicker(options);
            }
            var TeamDetailPostBackURL = '/Admin/Index';
            $(".anchorDetail").click(function () {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                alert(id);
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    success: function (data) {

                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function (XHR, errorText, status) {
                        console.log(XHR.responseText);
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

            
    </script>

</head>
<body>
    @using (Html.BeginForm("AddMovie2",                  "Admin",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="signup-form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<form action="/examples/actions/confirmation.php" method="post" class="form-horizontal">*@
            <div class="form-horizontal">
              

                <div class="form-group">
                    <label class="control-label col-xs-4">Screen Name</label>
                    <div class="col-xs-8">
                        @Html.DropDownList("Screen", (IEnumerable<SelectListItem>)ViewBag.ScreenList, new { @class = "form-control" })

                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-xs-4">Movie Name</label>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(Model => Model.Movie, new { @class = "form-control", columns = 40, rows = 10 })
                    </div>
                </div>

                <div class="form-group">
                    <!-- Date input -->
                    <label class="control-label col-md-2" for="date">Running From:</label>
                    <div class="col-md-10">
                        <input class="form-control" id="from" name="From" placeholder="MM/DD/YYY" type="text" />
                    </div>
                </div>


                <div class="form-group">
                    <!-- Date input -->
                    <label class="control-label col-md-2" for="date">Upto:</label>
                    <div class="col-md-10">
                        <input class="form-control" id="date" name="RunningUpto" placeholder="MM/DD/YYY" type="text" />
                    </div>
                </div>
                <div>
                    <label for="file">Upload Image:</label>
                    <input type="file" name="UploadedFile" id="file" style="width: 100%;" />

                </div>
                <div class="form-group">
                    <div class="col-xs-8 col-xs-offset-4">

                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>   <button type="submit" class="btn btn-primary btn-lg">Clear</button>
                    </div>
                    <a href="javascript:void(0);" class="anchorDetail">Edit/Delete</a>
                </div>



            </div>

        </div>
    }

    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>

    </div>
</body>
</html>

@if (ViewBag.Message != null)
{
    <script>

$(document).ready(function(){

alert('@ViewBag.Message');

});

    </script>

}
