@model IEnumerable<WebAppMovie.Models.ComplientList>

@{
    ViewBag.Title = "Complient";
    Layout = "~/Views/Shared/_Ver2.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.min.book.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>
        $(document).ready(function () {

            $('#example').DataTable({
                "paging": true,
                "ordering": true,
                "info": false
            });
            //DatePicker();

            //function DatePicker() {
            //    var dateToday = new Date();
            //    var date_input = $('input[placeholder="MM/DD/YYY"]'); //our date input has the name "date"
            //    var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            //    var options = {
            //        format: 'mm/dd/yyyy',
            //        container: container,
            //        todayHighlight: true,
            //        orientation: "bottom right",
            //        autoclose: true,
            //        minDate: dateToday
            //    };
            //    date_input.datepicker(options);
            //}
        });
    </script>
    @*<style>
            .border-color {
                background-color: #5dcdd2;
                background-image: linear-gradient(to bottom, #5dcdd2, #5dcdd2);
            }

            .table tr {
                margin-bottom: 6px;
                display: block;
                background-color: #EEEEEE;
                border-radius: 4px;
                align-items: center;
                width: 90%;
            }

            .divCentre {
                width: 50%;
            }
        </style>*@

</head>
<body>
    <h2>Complient</h2>
    <br />


    <hr />
    <div class="center-block text-center col-lg-12" id="divCentre">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <tr class="border-radius border-color">
                <th>
                    @Html.DisplayName("User Name")
                </th>
                <th>
                    @Html.DisplayName("Issue type")
                </th>
                <th>
                    @Html.DisplayName("Issue Description")
                </th>
               
                <th>
                    @Html.DisplayName("Posted Date")
                </th>
                
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Issue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descriptiontext)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.posteddate)
                    </td>
                   
                </tr>
            }

        </table>
        </div>
</body>
</html>
