@model IEnumerable<WebAppMovie.Models.movieDetailsList>

@{
    
    WebGrid webGrid = new WebGrid(source: Model, canPage: true, canSort: false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
            color: black;
        }

        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

        .label {
            color: #ccc;
        }

        .Grid th {
            background-color: #F7F7F7;
            font-weight: bold;
        }

        .Grid th, .Grid td {
            padding: 5px;
            width: 150px;
            border: 1px solid #ccc;
           color:black;
            text-decoration-color: black;
        }

        .Grid, .Grid table td {
            border: 0px solid #ccc;
            color: black;
        }

            .Grid th a, .Grid th a:visited {
                color: #333;
            }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Boot/jquery-3.3.1.js"></script>
    @*<script src="~/Scripts/Moviejs.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div>

        @webGrid.GetHtml(
            htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
            columns: webGrid.Columns(
           webGrid.Column(header: "Screen", format: @<span class="label">@item.Screen</span>, style: "Screen"),
                     webGrid.Column(header: "Movie", format: @<span class="label">@item.Movie</span>, style: "Movie"),
                                    webGrid.Column(header: "Date", format: @<span>
                                        <span class="label">@item.RunningUpto</span>
                                        @*<input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />*@

                                        <input class="text" type="text" id="date" name="date" placeholder="MM/DD/YYY" value="@item.RunningUpto" style="display:none" />
                                    </span>, style: "Date"),

                                                                                              webGrid.Column(format:@<span class="link">
                                                                                                <a class="Edit" href="javascript:;">Edit</a>
                                                                                                <a class="Update" href="javascript:;" style="display:none">Update</a>
                                                                                                <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                                                                                            </span>),
                                                                                                                        webGrid.Column(format:@<span class="link">
                                                                                                                            <a class="Delete" href="javascript:;">Delete</a>

                                                                                                                        </span>)))
    </div>


    <script type="text/javascript">
        //Edit event handler.
        $("body").on("click", "#WebGrid TBODY .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    $(this).find(".text").show();
                    $(this).find(".label").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#WebGrid TBODY .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    var span = $(this).find(".label");
                    var input = $(this).find(".text");
                    span.html(input.val());
                    span.show();
                    input.hide();
                  
                }
            });
            row.find(".Edit").show();
            row.find(".Cancel").hide();
            $(this).hide();
           

            var UpdateMovieData = {
                Screen: row.find(".label").html(),
                Movie: row.find(".Movie").find(".label").html(),
                RunningUpto: row.find(".Date .label").html()

            };
            alert(UpdateMovieData.Movie);
            alert(UpdateMovieData.RunningUpto);
            if (UpdateMovieData != null) {
                alert('ij');
                $.ajax({
                    type: "POST",
                    url: "http://localhost:60683/api/Admin/UpdateMovie",
                    data: UpdateMovieData,
                    success: function (data) {
                        alert('Date Updated');
                    },
                    error: function (response) {
                        alert('Error');
                    }
                });
            }
        });

        //Cancel event handler.
        $("body").on("click", "#WebGrid TBODY .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    var span = $(this).find(".label");
                    var input = $(this).find(".text");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Update").hide();
            $(this).hide();
        });

        $("body").on("click", "#WebGrid TBODY .Delete", function () {
            var row = $(this).closest("tr");
            var UpdateMovieData = {
                Movie: row.find(".Movie").find(".label").html(),
            }
            alert(UpdateMovieData.Movie);
            if (UpdateMovieData != null) {
                alert('ij');
                $.ajax({
                    type: "POST",
                    url: "http://localhost:60683/api/Admin/DeleteMovie",
                    data: UpdateMovieData,
                    success: function (data) {
                        alert('deleted Updated');
                    },
                    error: function (response) {
                        alert('Error');
                    }
                });
            }
            //$("td", row).each(function () {
            //    if ($(this).find(".text").length > 0) {
            //        var span = $(this).find(".label");
            //        var input = $(this).find(".text");
            //        input.val(span.html());
            //        span.show();
            //        input.hide();
            //    }
            //});
            //row.find(".Edit").show();
            //row.find(".Update").hide();
            //$(this).hide();
        });
    </script>
</body>
</html>

