@model IEnumerable<WebAppMovie.Models.BookMovieTicket>

@{
    Layout = "~/Views/Shared/_new.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Moviejs.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScreenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tickets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }

    </table>
</body>
</html>
