@model IEnumerable<WebAppMovie.Models.MovieDetailsdelete>
@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Ver2.cshtml";
}
@*---------------------------------------------------------------*@
<script src="~/Scripts/Boot/jquery-3.3.1.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap.js"></script>

<script>

    $(function () {
        // alert();
        var TeamDetailPostBackURL = '/BookMovie/BookMovie2';
       

        $(".anchorDetail").click(function () {
                        // alert();

                        var $buttonClicked = $(this);
                        var id = $buttonClicked.attr('data-id');
                        // alert(id);
                        var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                        type: "GET",
                url: TeamDetailPostBackURL,

                data: { "Id": id },

                success: function (data) {
                            alert('Suss');
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                        },
                error: function (XHR, errorText, status) {
                            console.log(XHR.responseText);
                            alert(XHR.responseText);
                        }
                    });
                });


                var fullDate = new Date()
        console.log(fullDate);

                var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : (fullDate.getMonth() + 1);

                var currentDate = twoDigitMonth + "/" + fullDate.getDate() + "/" + fullDate.getFullYear();

        $(".anchorDetail1").click(function () {
                    alert();

                    var $buttonClicked = $(this);
                    var Movie = $buttonClicked.attr('data-id');
                    alert(Movie);
                    var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                    type: "GET",
                url: '/BookMovie/GetTicketStatus',

                data: { "date": currentDate, "movieID": Movie },

                success: function (data) {
                        alert('Suss');
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                    },
                error: function (XHR, errorText, status) {
                        console.log(XHR.responseText);
                        alert(XHR.responseText);
                    }
                });
            });




        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
            });

    });

</script>

<h4>Movie Showing Now</h4>
<hr />
<link rel="stylesheet" href="~/Content/CSS/gridcss.css">
<link rel="stylesheet" href="~/Content/CSS/BOOKMYSHOOW.CSS">
@*<article class="_3eK24"><section class="_3autq _2CdYY"><div class="_3XNMI"><a href="https://themeforest.net/item/flixgo-online-movies-tv-shows-cinema-html-template/22538349?s_rank=1" aria-label="FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template"><div class="_2_3rp" style="padding-top:50.847457627118644%"><div style=""><img class="_1xvs1" src="https://previews-themeforest.imgix.net/files/253493904/01_flixgo.jpg?auto=compress%2Cformat&amp;fit=crop&amp;crop=top&amp;w=590&amp;h=300&amp;s=170781a2789f54c1f1c42be198830833" title="FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template" alt="FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template" style="left: 0%;"></div></div></a></div><div class="_2UtoE _2CdYY"><div class="_343Ow _3OY-2"><span class="_3Q47d">Tags: <!-- -->cinema, film, flix, movie, online, trailer, tv series, tv shows, video</span><span role="button" class="_248WO">See <!-- -->all<!-- --> tags</span></div></div></section><section class="_1jTeQ _2CdYY"><div class="XRHlZ"><h3><a href="https://themeforest.net/item/flixgo-online-movies-tv-shows-cinema-html-template/22538349?s_rank=1" class="Te3xI" tabindex="0">FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template</a></h3><div class="_1lWDw"><i> by </i><a class="_1BNLF" href="https://themeforest.net/user/dmitryvolkov">DmitryVolkov</a></div><span class="_7QkWN">Site Templates / Entertainment / Film Tv</span></div></section><div class="_2Wxbo _2CdYY"></div><section class="_1hK8Y _2CdYY"><span class="Yo3B1 _2CdYY"><div class="_18Vao">$<!-- -->18</div></span><span class="_2ozp5 _2CdYY o8q0O"><span>1<!-- --> Sales</span></span><span class="_3jCNj _2CdYY o8q0O">Last updated: <!-- -->7 Sep 18</span></section><section class="_2S8hh _2CdYY o8q0O"><ul class="WRpY-"><li class="_3NrRc">Free Video player</li><li class="_3NrRc">Fullscreen Gallery</li><li class="_3NrRc">Modern Design</li></ul></section><section class="_217pn _2CdYY o8q0O"><div class="_343Ow"><span class="_3Q47d">Tags: <!-- -->cinema, film, flix, movie, online, trailer, tv series, tv shows, video</span></div></section><section class="_2Cbnw o8q0O"><div role="button" class="_1PDrA">Show <!-- -->more</div></section><section class="_2X1ag _2CdYY"><a class="_3tfm8 _3Q7hy Pq41l lpgPF" role="button" href="https://themeforest.net/item/flixgo-online-movies-tv-shows-cinema-html-template/full_screen_preview/22538349" target="_blank">Preview</a><a class="_3tfm8 _3oVHA" role="button" href="/cart/configure_before_adding/22538349"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 16 16" style="vertical-align:middle"><title>Cart</title><g><path d="M 0.009 1.349 C 0.009 1.753 0.347 2.086 0.765 2.086 C 0.765 2.086 0.766 2.086 0.767 2.086 L 0.767 2.09 L 2.289 2.09 L 5.029 7.698 L 4.001 9.507 C 3.88 9.714 3.812 9.958 3.812 10.217 C 3.812 11.028 4.496 11.694 5.335 11.694 L 14.469 11.694 L 14.469 11.694 C 14.886 11.693 15.227 11.36 15.227 10.957 C 15.227 10.552 14.886 10.221 14.469 10.219 L 14.469 10.217 L 5.653 10.217 C 5.547 10.217 5.463 10.135 5.463 10.031 L 5.487 9.943 L 6.171 8.738 L 11.842 8.738 C 12.415 8.738 12.917 8.436 13.175 7.978 L 15.901 3.183 C 15.96 3.08 15.991 2.954 15.991 2.828 C 15.991 2.422 15.65 2.09 15.23 2.09 L 3.972 2.09 L 3.481 1.077 L 3.466 1.043 C 3.343 0.79 3.084 0.612 2.778 0.612 C 2.777 0.612 0.765 0.612 0.765 0.612 C 0.347 0.612 0.009 0.943 0.009 1.349 Z M 3.819 13.911 C 3.819 14.724 4.496 15.389 5.335 15.389 C 6.171 15.389 6.857 14.724 6.857 13.911 C 6.857 13.097 6.171 12.434 5.335 12.434 C 4.496 12.434 3.819 13.097 3.819 13.911 Z M 11.431 13.911 C 11.431 14.724 12.11 15.389 12.946 15.389 C 13.784 15.389 14.469 14.724 14.469 13.911 C 14.469 13.097 13.784 12.434 12.946 12.434 C 12.11 12.434 11.431 13.097 11.431 13.911 Z"></path></g></svg></a></section><section class="mJW3f _2CdYY"><a role="button" href="/bookmarks/widget?item_id=22538349" class="NRg9g" title="Add to Collection" rel="nofollow"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 11 9" class="_3lCzm _18JlV" style="vertical-align:middle"><title>Collection</title><g stroke="none" stroke-width="1" fill-rule="evenodd" transform="translate(-3.000000, -4.000000)"><g transform="translate(3.000000, 4.500000)"><polygon points="0 1.18461536 9.05384614 1.18461536 9.05384614 0 0 0"></polygon><polygon points="0 6.26153844 4.52692307 6.26153844 4.52692307 5.07692308 0 5.07692308"></polygon><polygon points="5.92307692 6.26153844 11 6.26153844 11 5.07692308 5.92307692 5.07692308"></polygon><polygon transform="translate(8.461538, 5.669231) rotate(-270.000000) translate(-8.461538, -5.669231) " points="5.92307692 6.26153844 11 6.26153844 11 5.07692308 5.92307692 5.07692308"></polygon><polygon points="0 3.7230769 6.76923077 3.7230769 6.76923077 2.53846154 0 2.53846154"></polygon></g></g></svg></a><a role="button" href="/favorites?item_id=22538349" class="NRg9g" title="Add to Favorites" rel="nofollow"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 512 512" class="_1UJnU _18JlV" style="vertical-align:middle"><title>Favorite</title><g><path d="M256 475.8c-4.9 0-9.1-1.7-12.5-5.1l-176.7-170.5c-1.9-1.5-4.5-4-7.8-7.4-3.3-3.4-8.5-9.6-15.7-18.6-7.2-9-13.6-18.2-19.3-27.6-5.7-9.4-10.7-20.9-15.2-34.3-4.3-13.3-6.5-26.3-6.5-38.9 0-41.5 12-74 36-97.4 24-23.4 57.1-35.1 99.4-35.1 11.7 0 23.6 2 35.8 6.1 12.2 4.1 23.5 9.5 34 16.4 10.5 6.9 19.5 13.4 27 19.4 7.5 6 14.7 12.5 21.5 19.3 6.8-6.8 14-13.2 21.5-19.3 7.5-6 16.6-12.5 27-19.4 10.5-6.9 21.8-12.4 34-16.4 12.2-4.1 24.1-6.1 35.8-6.1 42.3 0 75.4 11.7 99.4 35.1 24 23.4 36 55.9 36 97.4 0 41.7-21.6 84.2-64.9 127.4l-176.3 169.9c-3.4 3.4-7.6 5.1-12.5 5.1z"></path></g></svg></a></section></article>
    <br/>
    <article class="_3eK24"><section class="_3autq _2CdYY"><div class="_3XNMI"><a href="https://themeforest.net/item/flixgo-online-movies-tv-shows-cinema-html-template/22538349?s_rank=1" aria-label="FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template"><div class="_2_3rp" style="padding-top:50.847457627118644%"><div style=""><img class="_1xvs1" src="https://previews-themeforest.imgix.net/files/253493904/01_flixgo.jpg?auto=compress%2Cformat&amp;fit=crop&amp;crop=top&amp;w=590&amp;h=300&amp;s=170781a2789f54c1f1c42be198830833" title="FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template" alt="FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template" style="left: 0%;"></div></div></a></div><div class="_2UtoE _2CdYY"><div class="_343Ow _3OY-2"><span class="_3Q47d">Tags: <!-- -->cinema, film, flix, movie, online, trailer, tv series, tv shows, video</span><span role="button" class="_248WO">See <!-- -->all<!-- --> tags</span></div></div></section><section class="_1jTeQ _2CdYY"><div class="XRHlZ"><h3><a href="https://themeforest.net/item/flixgo-online-movies-tv-shows-cinema-html-template/22538349?s_rank=1" class="Te3xI" tabindex="0">FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template</a></h3><div class="_1lWDw"><i> by </i><a class="_1BNLF" href="https://themeforest.net/user/dmitryvolkov">DmitryVolkov</a></div><span class="_7QkWN">Site Templates / Entertainment / Film Tv</span></div></section><div class="_2Wxbo _2CdYY"></div><section class="_1hK8Y _2CdYY"><span class="Yo3B1 _2CdYY"><div class="_18Vao">$<!-- -->18</div></span><span class="_2ozp5 _2CdYY o8q0O"><span>1<!-- --> Sales</span></span><span class="_3jCNj _2CdYY o8q0O">Last updated: <!-- -->7 Sep 18</span></section><section class="_2S8hh _2CdYY o8q0O"><ul class="WRpY-"><li class="_3NrRc">Free Video player</li><li class="_3NrRc">Fullscreen Gallery</li><li class="_3NrRc">Modern Design</li></ul></section><section class="_217pn _2CdYY o8q0O"><div class="_343Ow"><span class="_3Q47d">Tags: <!-- -->cinema, film, flix, movie, online, trailer, tv series, tv shows, video</span></div></section><section class="_2Cbnw o8q0O"><div role="button" class="_1PDrA">Show <!-- -->more</div></section><section class="_2X1ag _2CdYY"><a class="_3tfm8 _3Q7hy Pq41l lpgPF" role="button" href="https://themeforest.net/item/flixgo-online-movies-tv-shows-cinema-html-template/full_screen_preview/22538349" target="_blank">Preview</a><a class="_3tfm8 _3oVHA" role="button" href="/cart/configure_before_adding/22538349"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 16 16" style="vertical-align:middle"><title>Cart</title><g><path d="M 0.009 1.349 C 0.009 1.753 0.347 2.086 0.765 2.086 C 0.765 2.086 0.766 2.086 0.767 2.086 L 0.767 2.09 L 2.289 2.09 L 5.029 7.698 L 4.001 9.507 C 3.88 9.714 3.812 9.958 3.812 10.217 C 3.812 11.028 4.496 11.694 5.335 11.694 L 14.469 11.694 L 14.469 11.694 C 14.886 11.693 15.227 11.36 15.227 10.957 C 15.227 10.552 14.886 10.221 14.469 10.219 L 14.469 10.217 L 5.653 10.217 C 5.547 10.217 5.463 10.135 5.463 10.031 L 5.487 9.943 L 6.171 8.738 L 11.842 8.738 C 12.415 8.738 12.917 8.436 13.175 7.978 L 15.901 3.183 C 15.96 3.08 15.991 2.954 15.991 2.828 C 15.991 2.422 15.65 2.09 15.23 2.09 L 3.972 2.09 L 3.481 1.077 L 3.466 1.043 C 3.343 0.79 3.084 0.612 2.778 0.612 C 2.777 0.612 0.765 0.612 0.765 0.612 C 0.347 0.612 0.009 0.943 0.009 1.349 Z M 3.819 13.911 C 3.819 14.724 4.496 15.389 5.335 15.389 C 6.171 15.389 6.857 14.724 6.857 13.911 C 6.857 13.097 6.171 12.434 5.335 12.434 C 4.496 12.434 3.819 13.097 3.819 13.911 Z M 11.431 13.911 C 11.431 14.724 12.11 15.389 12.946 15.389 C 13.784 15.389 14.469 14.724 14.469 13.911 C 14.469 13.097 13.784 12.434 12.946 12.434 C 12.11 12.434 11.431 13.097 11.431 13.911 Z"></path></g></svg></a></section><section class="mJW3f _2CdYY"><a role="button" href="/bookmarks/widget?item_id=22538349" class="NRg9g" title="Add to Collection" rel="nofollow"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 11 9" class="_3lCzm _18JlV" style="vertical-align:middle"><title>Collection</title><g stroke="none" stroke-width="1" fill-rule="evenodd" transform="translate(-3.000000, -4.000000)"><g transform="translate(3.000000, 4.500000)"><polygon points="0 1.18461536 9.05384614 1.18461536 9.05384614 0 0 0"></polygon><polygon points="0 6.26153844 4.52692307 6.26153844 4.52692307 5.07692308 0 5.07692308"></polygon><polygon points="5.92307692 6.26153844 11 6.26153844 11 5.07692308 5.92307692 5.07692308"></polygon><polygon transform="translate(8.461538, 5.669231) rotate(-270.000000) translate(-8.461538, -5.669231) " points="5.92307692 6.26153844 11 6.26153844 11 5.07692308 5.92307692 5.07692308"></polygon><polygon points="0 3.7230769 6.76923077 3.7230769 6.76923077 2.53846154 0 2.53846154"></polygon></g></g></svg></a><a role="button" href="/favorites?item_id=22538349" class="NRg9g" title="Add to Favorites" rel="nofollow"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 512 512" class="_1UJnU _18JlV" style="vertical-align:middle"><title>Favorite</title><g><path d="M256 475.8c-4.9 0-9.1-1.7-12.5-5.1l-176.7-170.5c-1.9-1.5-4.5-4-7.8-7.4-3.3-3.4-8.5-9.6-15.7-18.6-7.2-9-13.6-18.2-19.3-27.6-5.7-9.4-10.7-20.9-15.2-34.3-4.3-13.3-6.5-26.3-6.5-38.9 0-41.5 12-74 36-97.4 24-23.4 57.1-35.1 99.4-35.1 11.7 0 23.6 2 35.8 6.1 12.2 4.1 23.5 9.5 34 16.4 10.5 6.9 19.5 13.4 27 19.4 7.5 6 14.7 12.5 21.5 19.3 6.8-6.8 14-13.2 21.5-19.3 7.5-6 16.6-12.5 27-19.4 10.5-6.9 21.8-12.4 34-16.4 12.2-4.1 24.1-6.1 35.8-6.1 42.3 0 75.4 11.7 99.4 35.1 24 23.4 36 55.9 36 97.4 0 41.7-21.6 84.2-64.9 127.4l-176.3 169.9c-3.4 3.4-7.6 5.1-12.5 5.1z"></path></g></svg></a></section></article>*@


@foreach (var item in Model)
{




    <div class="_47ahp" data-test-selector="search-results">
        <ul class="_1xPrW">
            <li class="_3_DSG _2CdYY">
                <article class="_3eK24">
                    <section class="_3autq _2CdYY">
                        <div class="_3XNMI">
                            <a href="" aria-label="FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template">
                                <div class="_2_3rp" style="padding-top:50.847457627118644%">
                                    <div style="">
                                        <img class="_1xvs1" src="@item.ImagePath" style="left: 0%;">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="_2UtoE _2CdYY">
                            <div class="_343Ow _3OY-2">
                                <span class="_3Q47d">
                                </span><span role="button" class="_248WO"><bold><h4>@item.MovieName</h4></bold></span>

                            </div>
                        </div>
                    </section>

                    <div class="_2Wxbo _2CdYY"></div><section class="_1hK8Y _2CdYY">
                        <span class="Yo3B1 _2CdYY">
                            @item.ScreenName
                        </span><span class="_2ozp5 _2CdYY o8q0O">
                            <span>
                                Running Upto: <!-- -->@item.Upto
                            </span>

                    </section><section class="_2S8hh _2CdYY o8q0O">
                        <ul class="WRpY-">
                            <li class="_3NrRc">FirstClass: Rs.@item.FC  . SecondClass: Rs.@item.SC</li>

                            <li class="_3NrRc">ThirdClass: Rs.@item.TC</li>
                            <div> Check Avavliblity :<a href="javascript:void(0);" class="_3Q7hy Pq41l lpgPF anchorDetail1" role="button" data-id="@item.MovieId" target="_blank">Check Avaliblity</a></div>
                        </ul>
                    </section>
                    @*<section class="_217pn _2CdYY o8q0O"><div class="_343Ow"><span class="_3Q47d"></span></div></section>*@
                    <section class="_2Cbnw o8q0O"><div role="button" class="_1PDrA"> </div></section>
                    <section class="_2X1ag _2CdYY">
                        <a href="javascript:void(0);" class="_3tfm8 _3Q7hy Pq41l lpgPF anchorDetail" role="button" data-id="@item.MovieId" target="_blank">Book Movie</a>


                    </section>
                </article>
            </li>



        </ul>
    </div>
}

@if (ViewBag.Message != null)
{
    <script>

        $(document).ready(function () {

            alert('Sorry Selected Movie House Full.');

        });

    </script>

}

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>