<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View2</title>
    <link rel="stylesheet" href="~/Content/CSS/all.css">
    <link rel="stylesheet" href="~/Content/CSS/menu.css">
    <link rel="stylesheet" href="~/Content/CSS/layout.css">
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <style>
        .bg-light {
            background-color: #333545;
        }
        .menusection {
            color:#fff !important;
            font:15!important;
            font:bold;
        }
        .linkdisabled {
            cursor: text;
        }
    </style>

</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="color:white;">New Cinimas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="menulist">
                <li class="nav-item active">
                    @*<a class="nav-link menusection" href="~/Views/Register/Home.cshtml">Home <span class="sr-only">(current)</span></a>*@
                    @Html.ActionLink("Home", "Home", "Register")
                </li>

                @if (Session["UserID"].ToString() != "Admin")
                {
                    <li class="nav-item menusection">
                        @if (Request.IsAuthenticated)
                        {@Html.ActionLink("My Bookings", "Mybookings", "BookMovie")}


                    </li>
                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {@Html.ActionLink("Contact Us", "Complient", "BookMovie")}

                    </li>
                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {@Html.ActionLink("My Profile", "EditUserProfile", "Register")}

                    </li>

                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {@Html.ActionLink("Book Tickets", "View1", "BookMovie")}

                    </li>
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("__________  ")
                        }


                    </li>
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("__________ ")
                        }


                    </li>
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("__________  ")
                        }


                    </li>

                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            <a> @Html.ActionLink("HI  " + Session["UserID"].ToString(), "", "")</a>
                        }


                    </li>
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.ActionLink("Log Out", "LogOut", "Register")
                        }


                    </li>
                    @*<li>
                @if (Request.IsAuthenticated)
                {@Html.ActionLink("TicketsAvaliblity", "TicketsAvaliblity", "BookMovie")}
            </li>*@

                }
                else
                {
                    <li class="nav-item menusection">
                        @if (Request.IsAuthenticated)
                        {
                            @*@Html.ActionLink("My Bookings", "Mybookings", "BookMovie", new { @class = "linkdisabled" })*@
                            <a href="#"><i class="disable">My Bookings</i></a>
                        }


                    </li>
                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {
                            @*@Html.ActionLink("Contact Us", "Complient", "BookMovie", new { @class = "linkdisabled" })*@

                            <a href="#"><i class="disable">Contact Us</i></a>
                        }

                    </li>
                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {
                            @*@Html.ActionLink("My Profile", "EditUserProfile", "Register", new { @class = "linkdisabled" })*@

                            <a href="#"><i class="disable">My Profile</i></a>}

                    </li>

                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {
                            @*@Html.ActionLink("Book Tickets", "View1", "BookMovie", new { @class = "linkdisabled" })*@

                            <a href="#"><i class="disable">Book Tickets</i></a>}

                    </li>

                    <li>
                        
                            @Html.ActionLink("Admin", "AdminConsole", "Admin")
                        

                    </li>


                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("__________  ")
                        }


                    </li>
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("__________  ")
                        }


                    </li>
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("__________  ")
                        }

                    </li>

                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("HI  ")
                        }

                    </li>

                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            <a> @Html.Label("HI  " + Session["UserID"].ToString())</a>
                        }


                    </li>
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.ActionLink("Log Out", "LogOut", "Register")
                        }


                    </li>
                }

                @if (Session["UserID"].ToString() == "Guest")
                {
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("__________  ")
                        }


                    </li>
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("__________  ")
                        }


                    </li>
                    <li>

                        @if (Request.IsAuthenticated)
                        {

                            @Html.Label("__________  ")
                        }

                    </li>
                    <li> @Html.ActionLink("Log In", "Loginpage", "Register")</li>
                }

            </ul>
           
            
        </div>
        
    </nav>
    @*----------------Render body------------*@
    <div>@RenderBody()</div>
        
    
        
    
    <div class="divascookies" style="bottom: 0px; top: auto; display: block; height:5%">
    <div class="divascookies-banner-container">
        <p class="divascookies-banner-text">
            <span class="divascookies-policy-link"></span>
        </p>
    </div>
</div>
    

</body>
</html>


